{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        {% block styles %}
        {% endblock %}

    </head>
    <body class="p-0 m-0">
        <div class="container-fluid bg-dark text-center py-1 text-white">
            <h1>Auctions</h1>
        </div>

        <nav style=" background-color: #212529; " class="navbar navbar-expand-lg navbar-dark">          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'index' %}">Active Listings<span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'create-list' %}">Create List</a>
                </li>
                <li>
                    <a class="nav-link text-white" href="{% url 'show-watchlist' %}">My Watchlist</a>
                </li>
                <li>
                    <a class="nav-link text-white" href="{% url 'categories' %}">Categories</a>
                </li>
            {% endif %}
              </ul>
                <div>
                    {% if user.is_authenticated %}
                        <p class="d-inline nav-link text-white">Signed in as <strong>{{ user.username }}</strong>.</p>
                        <a class="d-inline btn btn-primary" href="{% url 'logout' %}">Log Out</a>

                    {% else %}
                        <a class="btn btn-outline-primary" href="{% url 'login' %}">Log In</a>
                        <a class="btn btn-primary ml-3" href="{% url 'register' %}">Sig In</a>
                    {% endif %} 
                </div>
            </div>
          </nav>

        {% block body %}
        {% endblock %}

    </body>
</html>
